.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  width: 250px; /* Ajusta el ancho si es necesario */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Para alinear el contenido internamente */
}


.product-title {
  font-size: 1.2rem;
  margin-top: 10px;
}

.product-description {
  color: #666;
  margin: 8px 0;
}

.product-price {
  font-weight: bold;
  color: #333;
}


.product-image {
  width: 100%;        
  height: auto;       /* Ajustar automáticamente la altura */
  border-radius: 8px;
  object-fit: contain; /* La imagen se ajusta dentro sin cortarse */
}


.productos-container {
  display: flex;
  justify-content: space-around; /* Para que haya espacio entre los productos */
  align-items: stretch; /* Asegura que todos los productos tengan la misma altura */
  gap: 16px; /* Espacio entre los productos */
  flex-wrap: wrap; /* Para que los productos se ajusten en diferentes filas si es necesario */
}